@import '@/styles/variables.scss';

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 80%;
  height: 8rem;
  padding: 1.3125rem 0;
  border-bottom: 6px solid $color-tulip-tree;
  margin-bottom: 1.25rem;
}

.logo {
  height: 2.75rem;
}

.topic {
  width: 80%;
}

.comments {
  display: flex;
  width: 80%;

  background-color: rgba($color-white, .04);

  &_head {
    font-size: $font-medium;
    color: $color-tulip-tree;
  }
}