@import '@/styles/variables.scss';

.comment {
  padding: 1.25rem;

  &_content {
    font-size: 14px;
  }
}

.author {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 16px;

  &_avatar {
    margin-right: 10px;
  }

  &_name {
    font-size: 12px;
    font-weight: lighter;
  }
}