@import '@/styles/variables.scss';

.textarea {
  resize: none;
  background: transparent;
  border: 2px solid $color-shark;
  color: $color-tulip-tree;
  font-family: inherit;

  width: 100%;
  padding: 5px;
  height: 200px;
  border-radius: $default-border-radius;
  margin: 5px 0;
  outline: none;

  &_invalid {
    border-color: $color-geraldine;
  }

  &:disabled {
    background-color: $color-silver;
    pointer-events: none;
  }
}

.error-text {
  font-size: $font-small;
  color: $color-geraldine;
}