@import '@/styles/variables.scss';

.page {
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: .75em;
}

.container {
  padding: 1.5rem;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.resultTitle {
  color: $color-tulip-tree;
  font-size: 1.75rem;
}

.roundTitle {
  font-size: 1.5rem;
}

.list {
  display: flex;
  margin-bottom: 2rem;
}

.star {
  color: $color-tulip-tree;
  font-size: 2rem;
  padding: 0 0.5rem;
  position: relative;

  &_lose {
    &::after {
      position: absolute;
      content: '';
      width: 6px;
      height: 55px;
      background-color: $color-bright-red;
      transform: rotate(-45deg);
      top: -10px;
      left: calc(50% - 3px);
    }
  }
}