@import '@/styles/variables.scss';
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.avatar__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: $color-white;
  margin-bottom: 15px;
}

.avatar__default {
  color: $color-background;
  font-size: 60px;
  text-transform: uppercase;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.profilePage__formsWrapper {
  transform: translateX(25%);
  transition: transform .5s;
}


.profilePage__buttonsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;
}

.profilePage__formsWrapperIsEditData + .profilePage__buttonsWrapper,
.profilePage__formsWrapperIsEditPassword + .profilePage__buttonsWrapper {
  display: none;
}

.profilePage__formsWrapperIsEditPassword {
  transform: translateX(-25%);
}

.profilePage__formsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
