@import '@/styles/variables.scss';

.button {
  font-size: $font-medium;
  background-color: $color-tulip-tree;
  color: $color-white;
  border-radius: $default-border-radius;
  cursor: pointer;

  &_default {
    border: none;

    &:disabled {
      background-color: $color-silver;
      opacity: .5;
    }
  }

  &_small {
    padding: 4px 8px;
  }

  &_medium {
    padding: 12px 24px;
  }

  &_large {
    padding: 16px 32px;
  }

  &_outline {
    border: 2px solid currentColor;
    background-color: transparent;
    color: $color-tulip-tree;

    &:disabled {
      color: $color-silver;
      opacity: .5;
    }
  }

  &:disabled {
    pointer-events: none;
  }

  &_text {
    border: none;
    background-color: inherit;
    color: $color-tulip-tree;
  }

  &:link {
    display: inline-block;
    text-decoration: none;
  }
}
