@import '@/styles/variables.scss';
@import '@/styles/button.scss';
@import '@/styles/custom-properties.scss';

html {
  height: 100%;
  overflow: hidden;
}

body {
  overflow: auto;
  font-family: Helvetica, Arial, sans-serif;
  color: $color-white;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100%;
}

#fullscreen::backdrop {
  background-color: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  font-size: $font-medium;
  color: $color-tulip-tree;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
