@import '@/styles/variables.scss';
@import '@/styles/button.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $color-background;
}

* {
  box-sizing: border-box;
}

.root {
  height: 100%;
}

.link {
  font-size: $font-medium;
  color: $color-tulip-tree;
}