$color-background-dark: #1a1f25;
$color-background-light: #dadada;
$color-tulip-tree: #e6b333;
$color-primary: $color-tulip-tree;
$color-tulip-tree-dark: #b08400;
$color-white: #fff;
$color-silver: #ccc;
$color-geraldine: #fd8989;
$color-shark: #22272d;
$color-rock: #f0d591;
$color-paper: #98d6f1;
$color-scissors: #da8edc;
$color-bright-red: #a30000;
$color-red: #dc771d;
$color-error: $color-red;
$color-success: #eee15a;

$font-small: 12px;
$font-medium: 16px;
$font-large: 18px;

$default-border-radius: 3px;