@import '@/styles/variables';

.overlay {
  display: flex;
  padding: calc(var(--size) * 0.3125);
  --size: 16px;
}

.spinner {
  position: relative;
  width: 1em;
  height: 1em;
  font-size: calc(var(--size) * 1.875);
  color: $color-tulip-tree;

  &.revert {
    color: var(--color-background);
  }

  .blob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: calc(var(--size) * 0.125) solid currentColor;
    
    width: calc(var(--size) * 0.625);
    height: calc(var(--size) * 0.625);
    border-radius: 50%;
    
    &.top {
      top: 0;
      animation: blob-top 1s infinite ease-in;
    }
    &.bottom {
      top: 100%;
       animation: blob-bottom 1s infinite ease-in;
    }
    &.left {
      left: 0;
      animation: blob-left 1s infinite ease-in;
    }
  }
  
  .moveBlob {
    background: currentColor;
    top: 0;
    
    animation: blob-spinner-mover 1s infinite ease-in;
  }
}

.overlayed {
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.block {
  .spinner {
    margin: auto;
  }
}

.inline {
  display: inline-block;
  --size: 8px;

  .spinner {
    font-size: calc(var(--size) * 1.25);
  }
}

@keyframes blob-bottom {
  25%, 50%, 75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%, 100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%, 100% {
    top: 50%;
    left: 0;
  }
}

@keyframes blob-spinner-mover {
  0%, 100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}