@import '@/styles/variables.scss';
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.userFormPassword {
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
  min-width: 380px;
  min-height: calc(280px - 42px - 15px);

  & > div {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  form {
    display: grid;
    grid-template-rows: 1fr min-content;
    align-items: center;
    height: 100%;
  }

  button {
    display: none;
  }

  .input_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    align-items: center;
    margin: 0;
  
    span {
      grid-column: 2 / -1;
    }
  }

  .input_name {
    text-align: right;
    color: $color-silver;
    pointer-events: none;
    border: none;
  }
  
  input {
    height: unset;
    border-bottom: 1px solid transparent;
    pointer-events: none;
    border: none;
  }

  .userFormPassword__buttonsWrapper {
    display: none;
  }

  .userFormPassword__buttonSubmit,
  .userFormPassword__buttonCancel  {
    display: block;
    color: var(--color-background);
  }
}

.userFormPassword.isEdit {
  opacity: 1;
  height: 100%;
  pointer-events: unset;
  min-height: 280px;

  .userFormPassword__buttonsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 15px;
  }

  input {
    pointer-events: unset;
    position: relative;
    border-bottom: 1px solid $color-tulip-tree-dark;
    border-radius: 0;
  }
  
  .input_name {
    pointer-events: unset;
  }
}
