@import '@/styles/variables.scss';
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 120px;
  min-width: unset;
  height: 120px;
  min-height: unset;
  border-radius: 50%;
  background: $color-white;
  border: none;
  padding: 0;
  position: relative;

  &.xsmall {
    width: 30px;
    height: 30px;
  }

  &.small {
    width: 60px;
    height: 60px;
  }

  &.medium {
    width: 120px;
    height: 120px;
  }

  &.large {
    width: 200px;
    height: 200px;
  }
}

.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar__default {
  color: var(--color-background);
  font-size: 60px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
